.DS_Store
home/dot-config/karabiner/*
!home/dot-config/karabiner/karabiner.json
home/dot-config/zsh/.zfunc/_*
home/dot-config/tmux/plugins
home/dot-config/btop/btop.log
home/dot-config/zsh/.zcompdump
