[submodule "home/dot-config/alacritty/alacritty-theme"]
	path = home/dot-config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "home/dot-config/alacritty/catppuccin-alacritty"]
	path = home/dot-config/alacritty/catppuccin-alacritty
	url = https://github.com/catppuccin/alacritty
[submodule "home/dot-config/tmux/tmux-catppuccin"]
	path = home/dot-config/tmux/tmux-catppuccin
	url = https://github.com/catppuccin/tmux.git
[submodule "home/dot-config/zsh/themes/fzf/tinted-fzf"]
	path = home/dot-config/zsh/themes/fzf/tinted-fzf
	url = https://github.com/tinted-theming/tinted-fzf.git
[submodule "home/dot-config/bat/themes/catppuccin"]
	path = home/dot-config/bat/themes/catppuccin
	url = https://github.com/catppuccin/bat.git
[submodule "home/dot-config/zsh/themes/zsh-syntax-highlighting/catppuccin"]
	path = home/dot-config/zsh/themes/zsh-syntax-highlighting/catppuccin
	url = https://github.com/catppuccin/zsh-syntax-highlighting
