.DS_Store
home/dot-config/karabiner/*
!home/dot-config/karabiner/karabiner.json
home/dot-config/zsh/.zfunc/_podman
home/dot-config/zsh/.zfunc/_ruff
home/dot-config/zsh/.zfunc/_rustup
home/dot-config/zsh/.zcompdump*
home/dot-config/zsh/.zsh_history
home/dot-config/zsh/.zfunc/_cargo
home/dot-config/zsh/.zfunc/_cs
home/dot-config/zsh/.zprofile
home/dot-config/zsh/.zcompcache
home/dot-config/tmux/plugins
home/dot-config/btop/btop.log
