[submodule "home/dot-config/alacritty/alacritty-theme"]
	path = home/dot-config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "home/dot-config/zsh/themes/fzf/tinted-fzf"]
	path = home/dot-config/zsh/themes/fzf/tinted-fzf
	url = https://github.com/tinted-theming/tinted-fzf
